 #logo{
  display:inline-block;
  background:;
  width:380px;
  height:330px;
  position:;
  margin:0 auto;
  padding-left:00px;
  border:none;
  margin-top:-25px;
  margin-left:00px;
 
 } 

.tm-page-nav-item { 
  margin-top: 20px; 
  list-style: none;}
nav{
  position:fixed;
  box-sizing:border-box;
  border: 0px solid #06425C;
  border-radius:0%;
  color:;
  width:500px;
  display: inline-block;
  height:80px;
  min-width: 200px;
  margin:150px 5px 2px 5px;
  padding:1px;
  overflow: ;
}
.navwrapper{
  width:100%;
  position:absolute;
}

nav a{
  display:inline-block;
  line-height: 45px;
  width:16%;
  height:70%;
  font-size:130%;
  text-align:center;
  color: black;
  text-decoration: none;
  border-radius:;
  background: rgb(243, 250, 232,0.5);
  padding-left: 50px;
  padding-right:50px;
  margin-left:auto;
  margin-bottom:10px;
  transition:1s;
}
nav a:hover{
    font-size:150%;
    filter: contrast(85%);
  background:rgb(18, 250, 95,.5);
  color:#000000;
}
  av a:focus{
    font-size:150%;
    filter: contrast(85%);
  background:rgb(18, 250, 95,.5);
  color:#000000;
}
.right3{
  background: tranparent;
  <!--background:-webkit-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
background:-webkit-gradient(bottom right, #1ee004,white 60%,#faf202);
  background-image:-moz-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
  backgroundimage:-ms-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
  background: linear-gradient(bottom right, #1ee004,white 60%,#faf202);  -->
  display:inline-block;
  border-radius:2%;
  font-size:140%;
  width: 15%;
  height:1120px;
  margin-right:2px;
  margin-left:-70px;
  margin-top:15px;
  padding:1%;
  overflow: ;
  border-radius:15%;;
  float:right;
}
 img{
  display:block;
  width:200px;
  height:230px;
  margin:0 auto;
  margin-bottom:10px;
  margin-bottom:15px;
  }
p{
  font-size:150%
}
video{
  margin:0 auto;
  background: transparent;
  border-radius: 15px;
  width:100%;
  height:420px;
   
}
#intro{
  text-align: Center;
   font-family:"Brush Script MT",verdana,arial;
  font-size:255%;
} 
.center{
  box-sizing:border-box;
  color:#000000;
  background-color:rgb(250, 240, 132,0.5);
  display:inline-block;
  font-family:arial, verdana, "times roman";
  text-weight:bold;
  border-radius:;
  width: 55%;
  height:110%;
  margin:0 auto;
  padding:2%;
  overflow: ;
  margin-left:400px;
  margin-top:-320px;
  position:static;
  }

<!--.left1{
   box-sizing:border-box;
  color:#000000;
  background-color: background: #faf202;
  background:-webkit-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
background:-webkit-gradient(bottom right, #1ee004,white 60%,#faf202);
  background-image:-moz-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
  backgroundimage:-ms-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
  background-image:-o-linear-gradient(bottom right, #1ee004,white 60%,#faf202);
  background: linear-gradient(bottom right, #1ee004,white 60%,#faf202);  
  display:block;
  float:left;
  width: 20%;
  height:220%;
  margin-right:1px;
  margin-left:2%;
  margin-top:45px;
  padding:1%;
  overflow: ;
  border-radius:15%;
-->}

  .active{
  background:rgb(250, 240, 132,0.5);
  font-weight: bold;
} 
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
    background:url("https://www.setaswall.com/wp-content/uploads/2018/02/Green-and-Red-Wallpaper-14-2560x1600.jpg")  bottom center/cover;
  background-size: 
  font-family:verdana, monospace;
  margin-top: 2%;
}
.sub{
  background: url("https://www.wallpapertip.com/wmimgs/38-382221_dark-green-smoke-background-hd.jpg")100% 100% no-repeat;
  width:700px;
  margin:0 auto;
  height:600px;
  border-radius:0px;
  text-align:center;
  margin-top:5px;
  padding-top: 200px;
  color:black;
  border-bottom: 2px solid #00FF00;
  box-shade:0 0 10px #00FF00;
 
}
.sub h2{
  color:#ffffff;
  font-family: Copperplate, Verdana, ariel;
  font-size: 2em;
  max-width:600px;
  margin: 0 auto;
  line-height:0.8em;
  text-align:left;
  transform:skewy(-5deg);
  padding-bottom:150px;
  padding-top:70px;
  
 }
.sub h2 span{
  display:block;
  text-align:right;
}
.sub p{
  color:#ffffff;
  font-size:20px;
  width:450px;
  min-width:200px;
  margin: 0 auto;
  padding-bottom:200px;
  }
.container{
  box-shadow:0 40px 50px -50px #00FF00;
  margin-top:-400px;
  max-width: 640px;
  margin: 0 auto;
  padding: 50 0px;
  background:transparent;
  border-radius:15px;
  
}
form{
  background:#011a07;
  border-radius:12px;
  padding: 50px;
  margin:0 auto;
  font-size:28px;
  position:relative;
  box-shadow:0 40px 50px -50px #00FF00;
  width:80%;
  margin-top:-450px;
  
  }
form input {
  display: block;
  width:100%;
  border-radius: 12px;
  border: none;
  height: 68px;
  padding: 15px;
  background: #255732;
  color:#ffffff;
  transition: 0.5s;
}
  form input:focus{
    outline: none;
    box-shade: 0px 10px 30px -20px #00FF00;
    filter: contrast(85%);
  }
  form label{
    color:#d7f5df;
    font-weight: bold;
    dsiplay: inline-block;
    margin:15px;
  }
form .subscribe{
  max-width:300px;
  height: auto;
  background:#011a07;
  border: 2px solid #00FF00;
  border-radius: 45px;
  font-weight: bold;
  line-height: normal;
  margin: 0 auto -80px;
  }
form .subscribe:hover{
  background: #00FF00;
  color:#011a07;
  cursor: pointer;
  
}
@media only screen and (max-width: 600px){
  video{
    max-width:85%;
    @media only screen and (max-width: 600px){
  .center{
    max-width:30%;
    position:absolute;
  }
}
@media only screen and (max-width: 600px){
  img{
    width:130px;
    height:160px;
  }

nav a{
  max-width:85%;
  }
}
 #00FF00
